{# error.twig #}
<h1>Erreur</h1>
<p>{{ message }}</p>
<form action="/signin" method="get" style="display:inline;">
                    <button type="submit">Se connecter</button>
                </form><br>
<a href="/">Retour à l'accueil</a><br>
<a href="/evenement/create">Retour à la création de box</a>