{% extends "main.twig" %}

{% block title %}Accueil{% endblock %}
{% block content %}
    <h1>Bienvenue sur LaChaudiereAgenda</h1>
    <p>
        Cette application vous permet de créer et stocker des événements culturels proposés par La Chaudière
        <br><br>
        {% if user %}
            <form action="/signout" method="post" style="display:inline;">
                <button class="button-modern" type="submit">Se déconnecter</button>
            </form>
        {% else %}
            <form action="/signin" method="get" style="display:inline;">
                    <button class="button-modern" type="submit">Se connecter</button-modern>
                </form>
        {% endif %}
        <form action="/register" method="get" style="display:inline;">
                                                <button class="button-modern" type="submit">Créer un utilisateur admin</button>
                                            </form>
        <br>
         <a href="/categories">Gérer les catégories</a>
         <br>
        <a href="/evenements">Afficher la liste des événements</a>
        <br>
        <a href="/evenement/show">Créer un evenement</a>
        <br>
        <a href="/categorie/show">Créer une catégorie</a>
        <br>
        <br>
        <h2>Liens des APIs</h2>
        <ul>
            <li><a href="/api/categories">API des categories</a></li>
            <li><a href="/api/evenements">API des événements</a></li>
            <li><a href="/api/evenements?sort=date-asc">API des événements triés (changer le lien pour changer de tri)</a></li>
            <li><a href="/api/evenements?periode=passee">API des événements passés</a></li>
            <li><a href="/api/evenements?periode=courante">API des événements courants</a></li>
            <li><a href="/api/evenements?periode=future">API des événements futurs</a></li>
            <li><a href="/api/categories/1/evenements">API des événements de la catégorie 1</a></li>
            <li><a href="/api/categories/1/evenements?periode=passee">API des événements passés de la catégorie 1</a></li>
            <li><a href="/api/categories/1/evenements?periode=courante">API des événements courants de la catégorie 1</a></li>
            <li><a href="/api/categories/1/evenements?periode=future">API des événements futurs de la catégorie 1</a></li>
            <li><a href="/api/evenements/1">API de l'événement 1</a></li>
        </ul>
    </p>
{% endblock %}