vendor/
*.log
.DS_Store
Thumbs.db
.idea/
.vscode/
lachaudiere/src/webui/views/cache/*

!lachaudiere/src/webui/views/cache/.gitkeep
composer.lock
db_data/
package-lock.json
lachaudiere.web/js/out.js
lachaudiere.web/js/out.js.map
/node_modules/
lachaudiere/public/uploads/*