{% extends "main.twig" %}

{% block title %}Détail Catégorie{% endblock %}

{% block content %}
    <h1>Détail de la catégorie</h1>
    <p><strong>ID :</strong> {{ categorie.id }}</p>
    <p><strong>Libellé :</strong> {{ categorie.libelle }}</p>
    <p><strong>Description :</strong> {{ categorie.description }}</p>
    <a href="/categories">Retour à la liste des catégories</a>
    <br><br>
    <a href="/">Retour à la page d'accueil</a>
{% endblock %}