{% extends "main.twig" %}

{% block title %}Coffrets types{% endblock %}

{% block content %}
    <h1>Coffrets types par thème</h1>
    {% for theme in coffrets %}
        <h2>{{ theme.libelle }}</h2>
        <ul>
            {% for coffret in theme.coffrets %}
                <li>
                    <a href="/coffret/{{ coffret.id }}">{{ coffret.libelle }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
    <br>
    <a href="/">Retour à la page d'accueil</a>
{% endblock %}