{% extends "main.twig" %}

{% block title %}Prestations du Coffret{% endblock %}

{% block content %}
    <h1>Prestations du Coffret</h1>
    <ul>
        {% for prestation in prestations %}
            <li>
                <a href="/coffret/{{ coffret_id }}/prestation/{{ prestation.id }}">
                    {{ prestation.libelle }} ({{ prestation.tarif }} €)
                </a>
            </li>
        {% endfor %}
    </ul>
    <a href="/coffrets">Retour à la liste des coffrets</a>
{% endblock %}