{# src/application_core/application/views/box_nouvelle.twig #}
{% extends "main.twig" %}
{% block title %}Créer une nouvelle box{% endblock %}
{% block content %}
<h1>Créer une nouvelle box</h1>
{% if success %}
    <div style="color: green;">La box "{{ libelle }}" a bien été créée !</div>
{% endif %}
<form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <label>Libellé : <input type="text" name="libelle" required></label><br>
    <label>Description : <textarea name="description" required></textarea></label><br>
    <label>Montant : <input type="number" name="montant" min="0" step="1" required></label><br>
    <label><input type="checkbox" name="kdo" value="1"> Cadeau ?</label><br>
    <label>Message cadeau : <input type="text" name="message_kdo"></label><br>
    <br>
    <button type="submit">Créer la box</button>
    <br><br>
    <a href="/">Retour à l'accueil</a>
</form>
{% endblock %}