{% extends "main.twig" %}

{% block content %}
<h2>Agenda des événements</h2>

<ul>
    {% for e in evenements %}
        <li>
            <strong>{{ e.titre }}</strong> -
            Catégorie : {{ e.categorie.libelle }} <br>
            Du {{ e.date_debut|date('d/m/Y H:i') }}
            {% if e.date_fin %}
                au {{ e.date_fin|date('d/m/Y H:i') }}
            {% endif %}
        </li>
    {% else %}
        <li>Aucun événement pour le moment.</li>
    {% endfor %}
</ul>
{% endblock %}